@font-face {
    font-family: 'Trebuchet';
    src: url('../font/TrebuchetMS.eot');
    src: url('../font/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
        url('../font/TrebuchetMS.woff') format('woff'),
        url('../font/TrebuchetMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Trebuchet';
    src: url('../font/TrebuchetMS-Bold.eot');
    src: url('../font/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/TrebuchetMS-Bold.woff') format('woff'),
        url('../font/TrebuchetMS-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
